{{define "title"}}Post #{{.Post.ID}}{{end}}

{{define "main"}}
    {{with .Post}}
        <div class= 'post'>
            <div class= 'metadata'>
                <strong>{{.Title}}</strong>
                <span>#{{.ID}}</span>
            </div>
            <pre><code>{{.Content}}</code></pre>
            <div class='metadata'>
                <time>Created: {{.CreatedAt}}</time>
            </div>
        </div>
    {{end}}
{{end}}