<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Artists Page</title>
</head>
<body>
    {{range .}}
    <div class="artist-card" style="border:2px solid #ccc; padding:15px; margin:15px;">
        <h1>Artist/Band Name: <a href="/artists/{{.ID}}">{{.Name}}</a></h1>
        <img src="{{.Image}}" alt="Artist Image" width="300" height="300">
        <p>Created: {{.CreationDate}}</p>
        <p>Number of Members: {{len .Members}}</p>
        <p>First Album: {{.FirstAlbum}}</p>
    </div>
    {{end}}
</body>
</html>