<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Artist Page</title>
</head>
<body>
    <h2><a href="/artists/">Back to Artists list</a></h2>
    <h1>Artist/Band Name: {{.Artist.Name}}</h1>
    <img src="{{.Artist.Image}}" alt="Artist Image" width="300" height="300">
    <p>Created: {{.Artist.CreationDate}}</p>
    <p>Members:</p>
        <ul>
            {{range .Artist.Members}}
            <li>{{.}}</li>
            {{end}}
        </ul>
    <p>First Album: {{.Artist.FirstAlbum}}</p>
    <h2>Concerts</h2>
    {{range $location, $dates := .Relations.DatesLocations}}
    <div>
        <h3>Location: {{$location}}</h3>
            <ul>
                {{range $dates}}
                <li>{{.}}</li>
                {{end}}
            </ul>
    </div>
    {{end}}
</body>
</html>