<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Artist Page</title>
</head>
<body>
    <h1>Group Name: {{.Artist.Name}}</h1>
    <img src="{{.Artist.Image}}">
    <p>Created: {{.Artist.CreationDate}}</p>
    <p>Members:</p>
        <ul>
            {{range .Artist.Members}}
            <li>{{.}}</li>
            {{end}}
        </ul>
    <p>First Album: {{.Artist.FirstAlbum}}</p>
    {{range $location, $dates := .Relations.DatesLocations}}
    <p>Concert Location: {{$location}}</p>
        <ul>
            {{range $dates}}
            <li>{{.}}</li>
            {{end}}
        </ul>
    {{end}}
</body>
</html>